    /**
    * Reset CSS v2.0
    * http://cssreset.com
    */
	@font-face {
	font-family: 'return';
	src:url('fonts/return.eot');
	src:url('fonts/return.eot?#iefix') format('embedded-opentype'),
		url('fonts/return.woff') format('woff'),
		url('fonts/return.ttf') format('truetype'),
		url('fonts/return.svg#return') format('svg');
	font-weight: normal;
	font-style: normal;
	}

	.return-undo {
		font-family: 'return';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	}
	.return-undo:before {
		content: "\e000";
	}

    html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,
    time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
    ol, ul {list-style: none;}blockquote, q {quotes: none;}
    blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
    table {border-collapse: collapse;border-spacing: 0;}

    /* CSS AppCEIDS */


    body{
		overflow: hidden;
		display: none;
        line-height: 1;
        background: url('../images/background.png') no-repeat fixed center; 
        background-size: 150% 100%;
        font-size: 100%;
		transition: all 2500ms cubic-bezier(0.42, -0.5, 0.58, 1.255);
		background-position: 50% 0px;

    }
	.bgprofes{
	background-position: 45% 0px;
	}
	.bgcurso{
	background-position: 60% 0px;
	}
	.esconder{
	display: none;
	}
	.mostrar{
	display:block;
	}
	.inicio{
	transition: all 2500ms cubic-bezier(0.42, -0.5, 0.58, 1);
	-webkit-transform: matrix(1,0,0,1,0,0); 
	transform: matrix(1,0,0,1,0,0);
	}
	.inicio-change{
	transition: all 2500ms cubic-bezier(0.42, -0.5, 0.58, 1);
	-webkit-transform: matrix(0.406,-0.914,0.914,0.406,-1200,-1200); 
	transform: matrix(0.406,-0.914,0.914,0.406,-1200,-1200);
	}
	#wrap{   
	height: 800px; 
	margin: 0 auto;
	max-width: 1024px;
	min-width: 320px;
	width: 100%;
	text-align:center;
	}
 
	#inicio{
	width: 100%;
	height: 100%;
	}
	
	#logo{
		width: 100%;
		position: absolute;
        top:20%;
        text-align:center;
        z-index: 4;

    }
	
    #logo img{
	cursor: pointer;
    max-width: 100%;
    width: auto/9;
    }
	
	.logo-change{
	transition: all 500ms cubic-bezier(0.42, -0.5, 0.58, 1.255);
	transform: translate(-75px, 0px);
	-webkit-transform: translate(-75px, 0px);
	pointer-events:none;
	}
	

    #botones{
		cursor: pointer;
        z-index: 2;
        display: none;
        position: absolute;
        width:100%;
		top: 44%;
			
		
    }
	.btnprofe{
	transition: all 500ms cubic-bezier(0.42, -0.5, 0.58, 1.255);
	transform: translate(185px, 0px);
	-webkit-transform: translate(185px, 0px);
		
	}
	.btncurso{
	transition: all 500ms cubic-bezier(0.42, -0.5, 0.58, 1.255);
	transform: translate(160px, 0px);
	-webkit-transform: translate(160px, 0px);
	}
	
	
	#profesoresCuadro{
	position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 80%;
	text-align: center;
	transition: all 2500ms cubic-bezier(0.42, -0.5, 0.58, 1);
	
	}
	.esconder{
	display:none;
	}
	.profesoresCuadro-inicio{
	-webkit-transform: matrix(0.406,-0.914,0.914,0.406,1200,1200); 
	transform: matrix(0.406,-0.914,0.914,0.406,1200,1200);

	}
	.profesoresCuadro-change{
	overflow-y: hidden;
	overflow-x: hidden;
	display:block;	
	-webkit-transform: matrix(1,0,0,1,0,0); 
	transform: matrix(1,0,0,1,0,0);
	}
	.profesoresCuadro-out{
	-webkit-transform: matrix(0.406,-0.914,0.914,0.406,-1200,-1200); 
	transform: matrix(0.406,-0.914,0.914,0.406,-1200,-1200);
	}
		
	#profesoresScroll{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	-webkit-transform: translate(18px,0px); 
	transform: translate(18px,0px); 
	
	}
	#profimagenes{
	width: 90%;
	height: 90%;
	margin-top: 60px;
	}
	
	#buscador{
	float:right;
	width: 218px;
	height: 42px;
	margin-right: 50px;
	
	
	background: url(../images/searchbox.png);

}

	#buscador input{
		height: 25px;
		border:0;
		width: 150px;
		margin: .5em 0 0 .5em;
		vertical-align:middle;
		margin-right: 50px;
	}
	#buscador input:focus{
		outline: 0;
	}

	.profesor{
		float: none;
		width: 15%;
		display: inline-table;	
		padding: .35%; 
		padding-bottom: 4%;

	}

	.profesor figure{
	
		text-align: center;

	}

	.profesor figure img{
		cursor: pointer;
		width: 85px;
		height: 100px;
		-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
		box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	}

	.profesor p{
		width:120px;
		text-shadow: 0.1em 0.1em 0.15em #444;
		letter-spacing: 0.9px;
		margin: 0 auto;
		margin-top: 8px;
		color:white;
		font-size: 0.9em;
		font-family: "Lucida Bright";
		font-weight: bold;
		
	}
	/*Horarios*/
	
	#HoriarioWrap{	
	position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 80%;
	text-align: center;
	transition: all 2500ms cubic-bezier(0.42, -0.5, 0.58, 1);
	}
	.HoriarioWrap-inicio{
	-webkit-transform: matrix(0.406,-0.914,0.914,0.406,1200,1200); 
	transform: matrix(0.406,-0.914,0.914,0.406,1200,1200);

	}
	.HoriarioWrap-change{
	display:block;	
	-webkit-transform: matrix(1,0,0,1,0,0); 
	transform: matrix(1,0,0,1,0,0);
	}
	.HoriarioWrap-out{
	-webkit-transform: matrix(0.406,-0.914,0.914,0.406,-1200,-1200); 
	transform: matrix(0.406,-0.914,0.914,0.406,-1200,-1200);
	}
	

	 #numcont {
	  float:left;
	  border: 0px;
	  display: none;
	  height: 100%;
	  margin-right: 2px;
	  min-height: 100%;
	  position: relative;
	  text-align: right;
	  width: 3%;
	}
	#numcont .numrow {
	  display: table-row;
	  width: 100s;
	  height: 5%;
	}

	#numcont .numcell {
	  display: table-cell;
	  font-size: 80%;
	  line-height: 100%;
	  height: 5%;
	  vertical-align: bottom;
	}
	#containerHorario {
	  
	  border:0;
	  border-radius: 5px;
	  display: table;
	  margin: 0 auto;
	  height: 100%;
	  min-height: 100%;
	  position: relative;
	  text-align: right;
	  width: 90%;
	}
	html #containerHorario #header,
	body #containerHorario #header {
	  display: table-row;
	  border: thin solid #c74d4d;
	  height: 5%;
	  width: 100%;
	}
	html #containerHorario #header .left,
	body #containerHorario #header .left {
	  border: thin solid #c74d4d;
	  border-left: transparent;
	  border-top-left-radius: 3px;
	  display: table-cell;
	}
	#sh{
	  border: thin solid #c74d4d;
	  border-right: transparent;
	  border-top-right-radius: 3px;
	  display: table-cell;
	}
	html #containerHorario #header .middle,
	body #containerHorario #header .middle {
	  border: 1px solid #c74d4d;
	  display: table-cell;
	}
	html #containerHorario #header .head,
	body #containerHorario #header .head {
	  background: #c74d4d;
	  border: thin solid #c74d4d;
	  color: #fff;
	  display: table-cell;
	  font-family: "Lucida Bright", Arial;
	  font-weight: bold;
	  font-size: 150%;
	  height: 5%;
	  line-height: 100%;
	  text-align: center;
	  vertical-align: middle;
	  width: 5%;
	}
	html #containerHorario .row,
	body #containerHorario .row {
	  display: table-row;
	  border: thin solid #c74d4d;
	  width: 90%;
	}

	.hora{
	  background: transparent;
	  padding-right: 2px;
	  box-sizing: border-box;
	  box-sizing: content-box;
	  width: 30px;
	  height: 100%;
	  font-size: .7em;
	}

	html #containerHorario .row .cell,
	body #containerHorario .row .cell {
	background: white;
	  font-size: 0.8em;
	  overflow: hidden;
	  width: 16.6%;
	  padding: 3px;
	  vertical-align: middle;
	  text-align: center;
	  border: solid #444;
	  border-width: 0px 1px 1px 1px;
	  display: table-cell;
	  height: 5%;
	  transition: 1.25s;
	}

	html #containerHorario .row .cell-r,
	body #containerHorario .row .cell-r {
	background: white;
	  font-size: 0.8em;
	  overflow: hidden;
	  width: 16.6%;
	  padding: 3px;
	  vertical-align: middle;
	  text-align: center;
	  border: solid #444;
	  border-width: 0px 2px 1px 1px;
	  display: table-cell;
	  height: 5%;
	  transition: 1.25s;
	}
	html #containerHorario .row .cell-i,
	body #containerHorario .row .cell-i {
	background: white;
	  font-size: 0.8em;
	  overflow: hidden;
	  width: 16.6%;
	  padding: 3px;
	  
	  vertical-align: middle;
	  text-align: center;
	  border: solid #444;
	  border-width: 0px 1px 1px 2px;
	  display: table-cell;
	  height: 5%;
	  transition: 1.25s;
	}
	html #containerHorario .row .cell:hover,
	body #containerHorario .row .cell:hover {
	  background: #bbb;
	}
	html #containerHorario .row .cell-r:hover,
	body #containerHorario .row .cell-r:hover {
	  background: #bbb;
	}
	html #containerHorario .row .cell-i:hover,
	body #containerHorario .row .cell-i:hover {
	  background: #bbb;
	}
	html #containerHorario .row #l21,
	body #containerHorario .row #l21 {
	  border-bottom-left-radius: 3px;
	}
	html #containerHorario .row #s21,
	body #containerHorario .row #s21 {
	  border-bottom-right-radius: 3px;
	}

	/* Cursos */
	
	#CursosWrap{
    top: 0%;
    width: 70%;
    height: 80%;
	text-align: center;
	margin: 15% auto auto 13%;
	position: absolute;
	transition: all 2500ms cubic-bezier(0.42, -0.5, 0.58, 1);

	}
	.CursosWrap-inicio{
	-webkit-transform: matrix(0.406,-0.914,0.914,0.406,1200,1200); 
	transform: matrix(0.406,-0.914,0.914,0.406,1200,1200);
	}
	.CursosWrap-change{
	overflow-y: hidden;
	overflow-x: hidden;
	display:block;
	-webkit-transform: matrix(1,0,0,1,0,-120); 
	transform: matrix(1,0,0,1,0,-120);
	}
	.CursosWrap-out{
	-webkit-transform: matrix(0.406,-0.914,0.914,0.406,-1200,-1200); 
	transform: matrix(0.406,-0.914,0.914,0.406,-1200,-1200);
	}
	header #BuscadorHeader{
				display: block;
                width: 100%;
                height: 50px;
                margin: 0 auto;
                margin-top: 5%;
            }
	#buscadorCurso{
                float:left;
                width: 218px;
                height: 42px;
                background: url(../images/searchbox.png);
            }

    #buscadorCurso input{

                height: 25px;
                border:0;
                width: 150px;
                margin-left: -30px;
                margin-top:8px;

                vertical-align:middle;
            }
    #buscadorCurso input:focus{
                outline: 0;
            }

	section#cursos_cont{
                width: 100%;
                margin: 0 auto;
                
            }
	section #menu_cursos{
                padding: 0 10px 10px 10px; 
                box-sizing:border-box; 
                -moz-box-sizing:border-box; /* Firefox */ 
                -webkit-box-sizing:border-box; /* Safari */
                float: left;
                width: 35%;
                min-width: 35%;
                background-color:rgba(1, 1, 1, 0.1);
                margin-right: 20px;
            }

            section #cursos{
                float:left;
                width: 60%;
                height: 600px;

            }
            section #cursos img{
            	position: absolute;
            	top:-2%;
            	right: -3%;
				height: 80%;

            }

            article li{
                list-style: none;
                color:white;
                text-shadow: 0.1em 0.1em 0.15em #444;
                letter-spacing: 0.9px;
                font-size: 1em;
            }
            article li:hover{
                color:#FFBD42;
                cursor: pointer;
            }

.ac-container{
    width: 90%;
    margin: 30px auto 30px auto;
    text-align: left;
}
.ac-container label{
    font-family: 'Lucida Bright', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    
    color: white;
    text-shadow: 0.1em 0.1em 0.15em #444;
    line-height: 33px;
    font-size: 19px;
    
}
.ac-container label:hover{
    background: rgba(255,255,255,0.1) ;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background: rgba(255,255,255,0.1);
    color: white;
    text-shadow: 0.1em 0.1em 0.15em #444;

}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
}
.ac-container input:checked + label:hover:after{
}
.ac-container input{
    display: none;
}
.ac-container article{
    background: rgba(255, 255, 255, 0.1);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    padding-left: 10px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 1s ease-in-out, box-shadow 2s linear;
    /*-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;*/
    transition: height 1s ease-in-out, box-shadow 2s linear;
}
.ac-container article ul{
	margin-top: 5px;
}


.ac-container input:checked ~ article{
    -webkit-transition: height 1s ease-in-out, box-shadow 0.2s linear;
    /*-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;*/
    transition: height 1s ease-in-out, box-shadow 0.2s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
    height: 130px;
}
.ac-container input:checked ~ article.ac-special6{
    height: 130px;
}
.ac-container input:checked ~ article.ac-medium{
    height: 225px;
}
.ac-container input:checked ~ article.ac-special6{
    height: 200px;
}
.ac-container input:checked ~ article.ac-special7{
    height: 240px;
}
.ac-container input:checked ~ article.ac-special4{
    height: 115px;
}
.ac-container input:checked ~ article.ac-large{
    height: 280px;
}

#btns{
	position: absolute;
	top: 95%;
	left: 5%;
}

#return{
	position:relative;
	width: 75px;
	cursor: pointer;
	display: inline-block;
	
}

#IndexR{
	position: relative;
	width: 75px;
	cursor: pointer;
	display: inline-block;
}




#fblike{
position: absolute; 
bottom: 12px; 
right: 20px; 
width: 175px; 
height: 60px;
}
#fblike div{
	display: block;
}



/* profesores x curso */
.filter-me{
    width: 100%;
}
.filter{
    display: none;
    list-style: none;
    color:white;
    text-shadow: 0.1em 0.1em 0.15em #444;
    letter-spacing: 0.9px;
    font-size: 1em;
}
.filter:hover{
    color:#FFBD42;
    
}
			
		}
		
	}

@media screen and (min-width: 500px) {
	body{
		background: red;
	}
 	#cursos{
 		display: none;
 		background: none;
 	}
}
	   